body {
    font-family: Arial, sans-serif;
    padding: 10px auto;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(0, #120c56, #000000);
}

  h1 {
    text-align: center;
    color: #fff;
    margin: 20px 0 0;
    margin-top: 20px;
    margin-bottom: 30px;
    
  }
  
  form {
    margin: 30px auto;
    max-width: 400px;
    width: 100%;
    background: linear-gradient(0, #403e4f, #414141);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #007bff;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
  }
  
  input[type="text"],
  input[type="file"],
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
  }
  
  /* Estilizando a input de arquivo */
  input[type="file"] {
    width: 0;
    height: 0;
    overflow: hidden;
  }
  
  .label-file {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilizando o texto que mostra o nome do arquivo escolhido */
  .file-name {
    margin-top: 8px;
    color: #fff;
  }
  
  input[type="submit"] {
    background-color: #2980b9;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }

nav {
  background-color: linear-gradient(0, #120c56, #000000);

  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

img.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 20px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  padding: 10px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

a.active,
a:hover {
  background: #5591b9;
  transition: 0.5s;
}

.checkbtn {
  font-size: 24px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

