* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(0, #120c56, #000000);
  padding: 10px auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  background: black;
  height: 80px;
  width: 100%;
  
}

img.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 20px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

form {
  flex-direction: column;
  justify-content: space-around;
  display: flex;
  

}

a.active,
a:hover {
  background: gray;
  transition: 0.5s;
}

section {
  width: 40%; /* ou qualquer largura desejada */
  margin: 20px 0;
  border-radius: 8px;
  padding: 20px;
  border: 1px solid white;
  padding: 20px;
  border-radius: 8px;
}

.publicar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postagens {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;


}

button {
  margin: 30px;
  margin-top: 2%;
  margin-bottom: 4%;
  padding: 3px 7px;
  border: none;
  background-color: #2980b9;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
.postagens-list {
  padding: 0;
  margin: 0;
}

.postagem {
  width: 100%; /* ou qualquer largura desejada */
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f5f5f5; /* ou qualquer outra cor desejada */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-info {
  display: flex;
  align-items: center;
  color: white;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 12px;
  background: linear-gradient(0, #403e4f, #414141);
  color: white;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 12px;
  background: linear-gradient(0, #403e4f, #414141);
  resize: none;
  color: white;
}

input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 12px;
  color: white;
}

.label-file {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.box-image {
  width: 300px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.box-profile {
  display: flex;
  align-items: center;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  margin-right: 10px;
}

.profile-name {
  font-weight: bold;
}

.post-content {
  margin-top: 10px;
  text-align: center;
}

.postage-image {
  width: 100%; /* ou o tamanho desejado */
  border-radius: 8px;
  margin-top: 10px;
}

@media (max-width: 925px) {
  img.logo {
    font-size: 30px;
    padding-left: 20px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
    display: block;
    padding: 15px 0;
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked ~ ul {
    left: 0;
  }
}
