* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: black;
}

nav {
  background: #555;
  height: 80px;
  width: 100%;
}

img.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 20px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: gray;
  transition: 0.5s;
}

.checkbtn {
  font-size: 24px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 925px) {
  img.logo {
    font-size: 30px;
    padding-left: 20px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
    display: block;
    padding: 15px 0;
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

section {
    width: 90%;
    height: 800px;
  justify-content: center;
  position: relative;
  background: #f2f2f2;
  padding: 10px;
  text-align: center;
  margin: 20px;
  border-radius: 8px;
  border: solid 3px green;
  margin-left: 70px;
  margin-right: 70px;
}

section h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.publicar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

textarea,
button {
  margin-top: 10px;
  margin-bottom: 10px;
}

textarea {
  margin-top: 10px;
  border: 1px solid #ccc;
  margin-left: 50px;
  width: 70%;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 550px;
  /* margin-top: 57px; */
}

button:hover {
  background-color: #45a049;
}

.post {
  background-color: #f2f2f2 ;
  border-radius: 8px;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
  
}

.profile-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  margin-left: 25%;
  margin-top: 20px;
}

.profile-name {
  font-weight: bold;
  margin-left: 5px;
  margin-top: 20px;
  margin-left: 10px;
}

.handle {
  color: gray;
  margin-left: 5px;
  margin-left: 5px;
  margin-left: 10px;
}

.post-content {
  /* border: 1px solid black; */
  width: 100%;
  margin: 10px auto;
  padding: 20px;

}

 p {
    width: 400px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin-left: 300px;
}

.postage-image {
    margin-top: 20px;
    width: 50%;
    height: 20%;
    border-radius: 20px;
}
