/* Estilos para a página de login */

body {
  margin: 0;
  background-color: #555;
  font-family: 'Roboto', sans-serif;
}

.meio {
  background-color: #555;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 10px 470px 10px 470px;
}

.Titulo {
  text-align: center;
}

.Titulo p {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}

.Logar {
  text-align: center;
  background-color: #555;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px; 
}

.Logar input[type="email"],
.Logar input[type="password"] {
  width: 250px;
  padding: 10px;
  margin: 5px;
  border: 1px solid #fff;
  border-radius: 15px;
  background-color: transparent;
  color: #fff;
}

.Logar button {
  width: 30%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #fff;
  border-radius: 15px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.Logar button:hover {
  background-color: transparent;
  color: #fff;
}

.Logar a {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

.Logar a:hover {
  background-color: #0056b3;
}

.Logar hr {
  border: 1px solid #ffbd59;
  margin: 20px 0;
}